SQL_PASSWORD=your-sql-password
JWT_ISSUER=localhost
JWT_AUDIENCE=localhost
JWT_KEY=localhost
SMTP_EMAIL=your-smtp-email
SMTP_PASSWORD=your-smtp-password
GEMINI_API_KEY=your-gemini-api-key
GEMINI_API_KEY_2=your-gemini-api-key-2
GOOGLE_CLIENT_ID=your-google-client-id